
#loginBoxForm {
  width: 25%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

#loginForm {
  font-size: 80%;
  padding: 3px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  padding: .7em;
  margin: 0 0;
  text-align: center;
  margin-top: 1em;
}

input#userName, input#password {
  font-size: 110%;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .3em;
}

